body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;

}
.header{
    height: 100vh;
    width: 100%;
    display: block;
    
   
}
nav {
    height: 10%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0%;
    margin-right: 25%;
    margin-left: 25%;

}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-content: center;

}

nav ul li a {
    text-decoration: none;
    color: black;

}
nav ul li a:hover{
    color: red;
    text-decoration: underline;
}
nav ul li a:active{
    color: red;
    text-decoration: underline;
}
.layer-1{
    height: 100%;
    width: 100%;
    display: flex ;
    justify-content: space-between;

}
.layer1-a{
    background-color: blueviolet;
    height: 98%;
    width: 7%;
    border-bottom-right-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}
.layer1-a .logo{
    color: rgb(85, 107, 253);
    background-color: white;
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
}
.layer1-points{
    height: 98%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin-left: -72%;
    margin-top: -5%;
    
}

.layer1-b{
    background-color: blueviolet;
    height: 98%;
    width: 15%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.profile-image{
    width: 300px;
        height: 400px;
        border-radius: 20px;
        margin-left: -80%;
        margin-top: 45%;
        box-shadow: 10px 10px white;
}
.text-section {
    width:500%;
    text-align: start;
    padding-left: 50%;
    padding-top: 90%;
}

.small-heading {
background: -webkit-linear-gradient(#1b02fb, #f80707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

h1 span {
    color: #ff5b5b;
}

.description {
    color: #666;
    font-size: 16px;
    margin: 20px 0;
}

.download-btn {
    text-decoration: none;
    background-color: #ff5b5b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.resume-btn {
    text-decoration: none;
    background-color: #ff5b5b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
    width: 40%;
    
    margin-left: 30%;
}