body{
    padding: 2%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: black;
    gap: 10px;
    border-radius: 20px;
        background: linear-gradient(45deg, #f3ebeb, #fff2f2);
        box-shadow: 9px -9px 7px #989191,
            -9px 9px 7px #ffffff;
            padding: 3%;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
   
}

.font-icon{
    font-size: 30px;
    color: black;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 3px;
}
.skills-img{
   display: flex;
   justify-content: space-around;

}
.skills-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.skills{
    display: flex;
    justify-content: space-around;
}
.section-projects{
    display: flex;
   flex-direction: column;
align-items: center;
   width: 60%;
   margin: 0 auto;
    
}

.section-projects img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}
footer{
    color: #ffffff;
    background-color: black;
    text-align: center;
  position: sticky;
  bottom: 0%;
}